.log-menu {
	background-color: $color-five;
	padding: 90px 25px 115px 25px;
	margin: 0 auto 0 auto;
    position: relative;
    @media (max-width: $mobileSmall) {
        padding-bottom: 0;
        height: 100%;
    }
	&__logo {
		width: 160px;
		height: 165px;
		margin: 0 auto 40px auto;
	}
	&__form {
	}
	&__input {
		background-color: $main-color;
		margin-bottom: 30px;
		input {
			background-color: transparent;
			width: 100%;
			height: 45px;
			padding: 12px 15px;
			font-size: 16px;
			font-weight: 500;
			color: $color-four;
			@media (min-width: $tablet) {
				&:hover::placeholder {
					color: $color-two;
				}
			}
			&::placeholder {
				transition: color .3s linear;
				font-size: 16px;
				font-weight: 500;
				color: $color-four;
			}
			&:focus {
				color: $color-four;
			}
		}
	}
	&__buttons {
		margin-top: 50px;
		text-align: center;
	}
	&__login {
		background-color: $color-two;
		color: $color-four;
		@media (min-width: $tablet) {
			&:hover {
				background-color: #eda456;
				color: $color-five;
			}
		}
		span {
			margin-left: 8px;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
	&__forget {
		margin-top: 15px;
		font-size: 16px;
		font-weight: 500;
		@media (min-width: $tablet) {
			&:hover {
				color: #fff;
			}
		}
	}
}